@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Quicksand&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Creepster', cursive;
  margin: 0;
  padding: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: url('https://images.unsplash.com/photo-1633177059960-489d8822eafc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2787&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #252422;
  letter-spacing: 2px;
}

.title {
  padding-top: 18px;
  font-size: 56px;
  text-align: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: #252422;
  border: 2px;
  border-style: solid;
  border-color: #403d39;
  font-size: 1.5em;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.display {
  width: 100%;
  height: 80px;
  text-align: right;
  padding: 12px 8px;
  font-size: 2em;
  background-color: #fbc442;
  background-image: url('./images/display.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  color: #252422;
  border: 2px solid #403d39;
}

button {
  width: 70px;
  height: 70px;
  font-size: 30px;
  color: #fbc442;
  background-color: #252422;
  border: 2px solid #403d39;
  transition: background-color 0.75s ease;
}

button:hover {
  cursor: pointer;
  background-color: #8a0303;
}

button.clear {
  background-color: #403d39;
  border: 2px solid #403d39;
  transition: font-size 0.75s ease;
}

button.clear:hover {
  font-size: 1.65em;
}

button.equals {
  font-size: 1.65em;
  color: #403d39;
  background-color: #fbc442;
  width: 140px;
  border: 2px solid #403d39;
  transition: background-color 0.75s ease, font-size 0.75s ease;
}

button.equals:hover {
  background-color: #ffdd94;
  font-size: 2em;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  width: 100%;
  font-size: 1.5em;
  background-color: #252422;
  color: #fbc442;
}
