@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Quicksand&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Creepster', cursive;
  margin: 0;
  padding: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #eb5e28;
  color: #252422;
}

#title {
  font-size: 56px;
  text-align: center;
}

#display {
  grid-area: display;
  height: 70px;
  text-align: right;
  padding: 8px 8px;
  font-size: 2em;
}

button.clear {
  grid-area: clear;
  background-color: #403d39;
  border: 2px solid #252422;
}

button {
  width: 70px;
  height: 70px;
  font-size: 30px;
  color: #eb5e28;
  background-color: #252422;
  border: 2px solid #403d39;
}

button.root {
  grid-area: root;
}

button.pow {
  grid-area: pow;
}

button.add {
  grid-area: add;
}

button.multiply {
  grid-area: multiply;
}

button.subtract {
  grid-area: subtract;
}

button.divide {
  grid-area: divide;
}

button.digit0 {
  grid-area: digit0;
}

button.digit1 {
  grid-area: digit1;
}

button.digit2 {
  grid-area: digit2;
}

button.digit3 {
  grid-area: digit3;
}

button.digit4 {
  grid-area: digit4;
}

button.digit5 {
  grid-area: digit5;
}

button.digit6 {
  grid-area: digit6;
}

button.digit7 {
  grid-area: digit7;
}

button.digit8 {
  grid-area: digit8;
}

button.digit9 {
  grid-area: digit9;
}

button.dot {
  grid-area: dot;
}

button.equals {
  grid-area: equals;
  width: 100%;

  color: #403d39;
  background-color: #ccc5b9;
  border: 2px solid #403d39;
  background-color: #ccc5b9;
}

.calculator {
  display: grid;
  grid-template-areas:
    'display display display display'
    'clear root pow add'
    'digit7 digit8 digit9 multiply'
    'digit4 digit5 digit6 subtract'
    'digit1 digit2 digit3 divide'
    'dot digit0 equals equals';
  color: #252422;
  border: 2px;
  border-style: solid;
  border-color: #252422;
  padding: 0.5px;
  gap: 2px;
  font-size: 1.5em;
}

.grid-item {
  color: #eb5e28;
  background-color: #252422;
  border: 1px solid #eb5e28;
  padding: 20px 30px;
  font-size: 30px;
  text-align: center;
}

.dark-gray-button {
  color: #fffcf2;
  background-color: #403d39;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  width: 100%;
  background-color: #252422;
  color: #eb5e28;
}
